/* body{
    background: #8080807d;
    margin: 0;
    padding: 0;
}

.calculator{
    width: 200px;
    height: auto;
    margin: 3% auto;
    background: #48de38;
    border-radius: 20px;
} */


html{
    background-color: #DEDEDE;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    /* text-align: center;     */
}


.screen{
    width: 357px;
    height: 35px;
    background-color: #00ffff63;
    border: 5px solid blue;
}

.screen2{
    width: 261px;
    height: 35px;
    background-color: #72989863;
    border: 5px solid blue;
}

table{
    float: left;
    background-color: #ffffff;
    border-color: #000000;
    border-style: solid;
    /* border-width: 2px; */
    /* margin: auto auto ; pr centrer le table */ 
    
    /*
    margin-left: auto; 
    margin-right: auto; */
    /* text-align: center; */
}
td{
    border-style: double;
	border-width: 0;
    text-align: center;
    
    /* border:double;
    text-align: center; */
    display: inline-block;
    padding: 5px;
    margin: 2px;
}
input[readonly]{
    text-align: right;
}

input[type="button"], [type="reset"] {
    display: inline-block;  
    width: 80px;
    height: 40px;    
    background-color: burlywood;
    color: #000000;
    border: transparent;
}

input[type="button"]:hover{
    background-color: red;
    color: white;
}

#historyList{
    background: blueviolet;
    float: left;
    margin: -15px 15px;
}
/* a.MaCellule{ */
a {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 
/* Select only the "op" buttons, on the right column. */
/*input:not(.mainbutton):not([type="text"]) {
	width: 25px;
} */